/* PADDING */

.p-25 {
    padding: 25px;
}

/* PADDING TOP */

.pt-8 {
    padding-top: 8px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-32 {
    padding-top: 32px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-64 {
    padding-top: 64px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-96 {
    padding-top: 96px;
}

.pt-120 {
    padding-top: 120px;
}

.pt-140 {
    padding-top: 140px;
}

/* PADDING BOTTOM */

.pb-8 {
    padding-bottom: 8px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-48 {
    padding-bottom: 48px;
}

.pb-64 {
    padding-bottom: 64px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-96 {
    padding-bottom: 96px;
}

.pb-120 {
    padding-bottom: 120px;
}

.pb-240 {
    padding-bottom: 240px;
}
