.user-avatar-avatar-small {
    color: white;
    width: 48px !important;
    height: 48px !important;
}

.user-avatar-avatar-large {
    color: white;
    width: 96px !important;
    height: 96px !important;
}
