.render-text-no-bold {
    font-weight: 400 !important;
}

.render-text-common {
    font-size: 19px !important;
    text-align: left;
    color: #616161;
}

.render-text-quote {
    padding: 30px;
    border-left: 5px solid #d6d9e0;
    background-color: #f3f4f6;
}

.render-text-wrapper {
    display: flex;
    align-items: center;
}

.render-text-link {
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
}

.render-text-link:hover {
    color: #171e33;
}

.render-text-title {
    font-size: 40px !important;
    font-weight: 500 !important;
    line-height: 1.4 !important;
}

.render-text-subtitle {
    font-size: 24px !important;
    font-weight: 300 !important;
    line-height: 1.2 !important;
}

.render-text-header1 {
    font-size: 40px !important;
    font-weight: 500 !important;
    line-height: 1.4 !important;
}

.render-text-header2 {
    font-size: 24px !important;
    font-weight: 700 !important;
    line-height: 1.2 !important;
}

.render-text-bold {
    font-weight: 700 !important;
}

.render-text-italic {
    font-style: italic !important;
}

.render-text-paragraph {
    line-height: 2.2 !important;
}
