.git/
.vs/
TokanPages/bin/
TokanPages/obj/
TokanPages/ClientApp/node_modules/
Backend/TokanPages.Backend.Core/bin/
Backend/TokanPages.Backend.Core/obj/
Backend/TokanPages.Backend.Cqrs/bin/
Backend/TokanPages.Backend.Cqrs/obj/
Backend/TokanPages.Backend.Database/bin/
Backend/TokanPages.Backend.Database/obj/
Backend/TokanPages.Backend.Domain/bin/
Backend/TokanPages.Backend.Domain/obj/
Backend/TokanPages.Backend.Shared/bin/
Backend/TokanPages.Backend.Shared/obj/
Backend/TokanPages.Backend.SmtpClient/bin/
Backend/TokanPages.Backend.SmtpClient/obj/
Backend/TokanPages.Backend.Storage/bin/
Backend/TokanPages.Backend.Storage/obj/
