.clients-render-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.clients-caption {
    text-align: center;
    font-size: 2rem !important;
    font-weight: 500 !important;
    color: #6367ef;
}

.clients-section {
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media (max-width: 900px) {
    .clients-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.clients-logo {
    padding-left: 5%;
    padding-right: 5%;
}

@media (max-width: 900px) {
    .clients-logo {
        padding-left: 2%;
        padding-right: 2%;
        margin: 25px;
    }
}
