.technology-box {
    padding-top: 64px;
    padding-bottom: 64px;
}

.technology-icon {
    width: 32px !important;
    height: 32px !important;
    color: #6367ef !important;
    margin-right: 8px;
}

.technology-skeleton-circle {
    width: 42px !important;
    height: 42px !important;
    margin: 0 15px 0 0 !important;
}

.technology-caption-text {
    text-align: center;
    font-size: 2rem !important;
    font-weight: 500 !important;
    color: #6367ef;
}

.technology-feature-title {
    font-size: 1.5rem !important;
    font-weight: 400 !important;
    margin: 0;
    color: black;
}

.technology-feature-text {
    font-size: 1.125rem !important;
    font-weight: 400 !important;
    line-height: 1.8;
    color: #757575;
}
