.contact-card-no-shadow {
    box-shadow: none;
}

.contact-form-icon-container {
    max-width: 24px;
}

.contact-form-view-margins {
    margin: auto;
}

@media (max-width: 768px) {
    .contact-form-view-margins {
        margin: 1rem;
    }
}

.contact-form-view-column-margins {
    margin-left: 3rem;
}

@media (max-width: 768px) {
    .contact-form-view-column-margins {
        margin-left: 0;
        margin-top: 3rem;
        padding: 0;
    }
}
