.icon-button-base {
    position: relative;
    flex: 0 0 auto;
    font-size: 1.5rem;
    overflow: visible;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 330ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

/* TRANSPARENT STYLE */
.icon-button-hoverable {
    cursor: pointer;
    background-color: transparent;
}

.icon-button-hoverable:hover {
    background-color: hsl(0, 0%, 96%);
}

.icon-button-non-hoverable {
    background-color: transparent;
}

.icon-button-disabled {
    cursor: default;
    color: hsl(0, 0%, 86%);
}

.icon-button-disabled:hover {
    background-color: transparent;
}

/* GREY STYLE */
.icon-button-hoverable-grey {
    cursor: pointer;
    background-color: hsl(0, 0%, 96%);
}

.icon-button-hoverable-grey:hover {
    background-color: hsl(0, 0%, 86%);
}

.icon-button-non-hoverable-grey {
    background-color: hsl(0, 0%, 96%);
}

.icon-button-disabled-grey {
    cursor: default;
    color: hsl(0, 0%, 86%);
}

.icon-button-disabled-grey:hover {
    background-color: hsl(0, 0%, 96%);
}

/* SOLIDO STYLE */
.icon-button-solid-hoverable {
    cursor: pointer;
    background-color: hsl(0, 0%, 96%);
}

.icon-button-solid-hoverable:hover {
    background-color: hsl(0, 0%, 86%);
}

.icon-button-solid-hoverable-disabled {
    cursor: default;
    background-color: hsl(0, 0%, 96%);
}

.icon-button-solid-hoverable-disabled:hover {
    cursor: default;
    background-color: hsl(0, 0%, 96%);
}
