.signup-warning-text-pre {
    margin: 0;
}

.signup-warning-text-post {
    font-size: 0.875rem !important;
    font-weight: 400 !important;
    line-height: 1.43 !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.signup-warning-text-list {
    margin-top: 5px;
    margin-bottom: 5px;
}
