.carousel-root 
{
    margin: auto !important;
    margin-top: 3% !important;
    height: 400px;
}

.carousel .slide 
{
    background: #FFFFFF !important;
    height: 400px;
}
  
.carousel .slide img 
{
    width: 139px !important;
    border-radius: 50%;
}

.carousel .control-dots 
{
    padding-left: 5px !important;
    outline: 0;
    bottom: 5% !important;
}

.carousel .control-dots .dot 
{
    box-shadow: none !important;
    background: none !important;
    outline: 0;
}

.carousel.carousel-slider 
{
    overflow: inherit;
}

.carousel .control-next.control-arrow, .carousel .control-next.control-arrow:hover
{
    background-color: transparent;
    right: 0px;
    opacity: 1;
}

.carousel .control-prev.control-arrow, .carousel .control-prev.control-arrow:hover 
{
    background-color: transparent;
    left: 0px;
    opacity: 1;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow
{
    opacity: 0.5;
}

.carousel .control-next.control-arrow:before 
{
    border: solid #3F51B5;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 14px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    content: "";
}

.carousel .control-prev.control-arrow:before 
{
    border: solid #3F51B5;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 14px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    content: "";
}
