.preloader {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #6367ef;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
