.render-menu-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.render-menu-list-item-pipe {
    display: flex;
    width: 2px;
    margin-left: 2px;
    margin-right: 2px;
    cursor: default;
    background-color: #616161;
}

@media (min-width: 1100px) {
    .render-menu-list-item-pipe {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 1100px) {
    .render-menu-list-item-pipe {
        margin-top: 12px;
        margin-bottom: 12px;
    }
}

.render-navbar-href {
    color: black !important;
}

.render-navbar-list-item:hover {
    background-color: white !important;
}

.render-navbar-list-item-text {
    color: black !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 1280px) {
    .render-navbar-list-item-text {
        font-size: 16px !important;
    }
}

@media (max-width: 1280px) {
    .render-navbar-list-item-text {
        font-size: 13px !important;
    }
}

.render-navbar-list-item-text:hover {
    color: #4649c3 !important;
    transform: scale(1.1);
    transition: transform 0.3s ease 0s;
}

.render-navbar-list-item-text-selected {
    color: #4649c3 !important;
    transform: scale(1.1);
}

.render-navbar-menu-box {
    background-color: white;
}

.render-navbar-menu-list {
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 20%);
}

.render-navbar-button {
    text-transform: none !important;
    font-weight: 400 !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.render-navbar-button:hover {
    background-color: white !important;
}

.render-navbar-list-icon {
    min-width: 40px !important;
}

.render-navbar-list-item-indent {
    padding-left: 32px !important;
}

.render-navbar-list-item-base {
    font-size: 16px !important;
}
