.video-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}

.video-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: hsl(0, 0%, 86%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
