.article-details-avatar {
    background-color: #9e9e9e;
}

.article-details-text-block {
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.article-details-text-padding-left {
    padding-left: 5px;
}

.article-details-flag-image {
    height: 18px;
    width: 18px;
    display: flex;
    align-self: center;
}

.article-details-alias-name {
    padding-top: 10px;
    font-weight: bold !important;
}

.article-details-thumbs-medium {
    color: #9e9e9e;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.article-details-likes-tip {
    font-size: 1.5em;
}

.article-details-popover {
    pointer-events: none;
}

.article-details-user {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 24px;
    margin-right: 24px;
}

.article-details-text-500 {
    font-weight: 500;
}
