#error {
    position: relative;
    height: 100vh;
}

#error .error {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.error {
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
}

.error .error-text {
    position: relative;
    height: 200px;
    margin: 0px auto 20px;
    z-index: -1;
}

.error .error-text h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 200px;
    font-weight: 300;
    margin: 0px;
    color: #211b19;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 767px) {
    .error .error-text h1 {
        font-size: 148px;
    }
}

@media only screen and (max-width: 480px) {
    .error .error-text {
        height: 148px;
        margin: 0 auto 10px;
    }
    .error .error-text h1 {
        font-size: 120px;
        font-weight: 200;
    }
    .error .error-text h2 {
        font-size: 30px;
    }
    .error a {
        padding: 7px 15px;
        font-size: 24px;
    }
}
