/*
  Master stylesheet file for UI components
  -----------------------------------------
  Because SPA is pre-rendered on the backend side, 
  JSS has been abandoned; the styles generated on the fly 
  that are typically included in the HTML head are not
  optimal for pre-rendered React applications.

  Security note
  -------------
  Due to a high probability of interference in what a user sees, 
  applications should strictly control CSS. In particular, 
  this applies to situations where CSS is generated dynamically.
  An application MUST use an external resource (downloaded 
  using the tag <link rel="stylesheet"=) to load a dynamically 
  created sheet. 
  One MUST NOT dynamically generate contents placed directly 
  inside the «style» element.
  An application SHOULD NOT dynamically (on the server's side) 
  generate the contents of the style attribute (an application 
  MAY define the relevant CSS classes and use the class attribute 
  whose value will be variable).
  An application MAY modify features of elements within JavaScript 
  code (e.g. by using the css) function in the Query library)
  An application MUST NOT use the pseudo function expression.
*/

@import url("spinner.css");
@import url("checkbox.css");
@import url("lines.css");

/* BASELINE */

html {
    overflow: auto;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

strong,
b {
    font-weight: 700;
}

body {
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    font-size: 0.875rem;
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    line-height: 1.43;
    background-color: #ffffff;
    scrollbar-color: rgb(110, 110, 110) rgb(246, 246, 246);
}

@media print {
    body {
        background-color: #ffffff;
    }

    .page-break {
        clear: both;
        page-break-after: always;
    }
}

/* SHARED STYLES BY COMPONENTS */

.line-separator {
    margin: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(216, 216, 216);
}

.no-select {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-select:focus {
    outline: none !important;
}

.card-icon-colour {
    color: hsla(233, 100%, 73%, 1);
}

.seo-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.is-round-border {
    border-style: solid;
    border-width: 1px;
    border-color: hsl(0, 0%, 71%);
    border-radius: 50%;
}

.is-round-border-light {
    border-style: solid;
    border-width: 3px;
    border-color: hsl(0, 0%, 96%);
    border-radius: 50%;
}

.is-transparent {
    background-color: transparent;
}

.is-lock-scroll {
    overflow: hidden;
}

.is-cursor-zoom-in {
    cursor: zoom-in !important;
}

.is-cursor-pointer {
    cursor: pointer !important;
}
