.navigation-app-logo-small {
    height: 30px !important;
}

.navigation-app-logo-large {
    height: 40px !important;
}

.navigation-app-left-logo {
    height: 30px !important;
    width: 181px !important;
    align-self: center !important;
}

.navigation-tool-bar {
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.navigation-nav-menu {
    color: black;
    display: flex;
}

.navigation-nav-icon {
    height: 48px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.navigation-nav-items {
    display: flex;
    align-items: center;
}

.navigation-nav-left {
    justify-content: flex-start;
}

.navigation-nav-right {
    justify-content: flex-end;
}

.navigation-nav-centre {
    justify-content: center;
}

.navigation-nav-back {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
}

.navigation-languages-check {
    padding-left: 5px;
    color: #4649c3;
}

.navigation-flag-image {
    height: 14px;
    width: 14px;
    margin-right: 5px;
}

.navigation-app-full-logo {
    display: block;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

@media (max-width: 768px) {
    .navigation-app-full-logo {
        display: none;
    }
}

.navigation-app-just-logo {
    display: none;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

@media (max-width: 768px) {
    .navigation-app-just-logo {
        display: block;
    }
}

.navigation-user-avatar {
    display: none;
}

@media (min-width: 1024px) {
    .navigation-user-avatar {
        display: flex;
    }
}

.navigation-languages-box {
    margin-right: 30px;
    align-self: center;
}

@media (max-width: 1024px) {
    .navigation-languages-box {
        margin-right: 0;
    }
}

.navigation-nav-large-screen {
    display: block;
}

@media (max-width: 1024px) {
    .navigation-nav-large-screen {
        display: none;
    }
}

.navigation-nav-small-screen {
    display: none;
}

@media (max-width: 1024px) {
    .navigation-nav-small-screen {
        display: block;
    }
}

.navigation-nav-drawer-root {
    top: 0;
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    outline: 0;
    z-index: 1200;
    position: fixed;
    overflow-y: auto;
    flex-direction: column;
    transition: left 350ms cubic-bezier(0, 0, 0.2, 1);
}

.navigation-nav-drawer-backdrop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 1000;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
    transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-nav-drawer-container {
    z-index: 1100;
    height: 100%;
    width: 300px;
    background-color: white;
}

.navigation-nav-drawer-hero {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebecfb;
}

.navigation-nav-drawer-logo {
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}
