
.navigation-flag-image {
    height: 14px;
    width: 14px;
    margin-right: 5px;
}




.navigation-user-avatar {
    display: none;
}

@media (min-width: 1024px) {
    .navigation-user-avatar {
        display: flex;
    }
}




.navigation-languages-box {
    margin-right: 30px;
    align-self: center;
}

@media (max-width: 1024px) {
    .navigation-languages-box {
        margin-right: 0;
    }
}
