.user-signin-view-margins {
    margin: auto;
}

@media (max-width: 768px) {
    .user-signin-view-margins {
        margin: 1rem;
    }
}

.user-signin-view-card-image {
    height: 150px !important;
    object-fit: cover;
}
