.socials-caption-text {
    text-align: center;
    font-size: 2rem !important;
    font-weight: 500 !important;
    color: #6367ef;
}

.socials-card-holder {
    position: relative;
    margin-top: 0 !important;
}

.socials-card-image-holder {
    margin: 0;
    border-style: solid;
    border-width: 4px;
    border-color: #6367ef;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    position: absolute;
    z-index: 999;
}

.socials-card-image {
    height: 80px !important;
    width: 80px !important;
    border-radius: 50%;
}

.socials-card-content {
    margin-top: 35px;
}

.socials-card-title {
    margin: 0 !important;
    text-align: center;
    font-size: 1.4rem !important;
    font-weight: 500 !important;
    line-height: 1.8 !important;
    color: black;
}

@media (min-width: 960px) and (max-width: 1280px) {
    .socials-card-title {
        font-size: 1.3rem !important;
    }
}

.socials-card-subheader {
    margin: 0 !important;
    text-align: center;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.8 !important;
    color: #9e9e9e;
}

@media (min-width: 960px) and (max-width: 1280px) {
    .socials-card-subheader {
        font-size: 0.9rem !important;
    }
}

.socials-card-subtext {
    margin: 0 !important;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 1.1rem !important;
    font-weight: 400 !important;
    line-height: 1.8 !important;
    color: black;
}

@media (min-width: 960px) and (max-width: 1280px) {
    .socials-card-subtext {
        font-size: 1rem !important;
    }
}

.socials-card-media {
    height: 156px !important;
}

.socials-card-icon-holder {
    padding-top: 10px;
}

.socials-card-icon {
    width: 32px !important;
    height: 32px !important;
}
