.socials-card-image-holder {
    margin: 0;
    border-style: solid;
    border-width: 4px;
    border-color: #6367ef;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    position: absolute;
    z-index: 999;
    height: 88px;
    width: 88px;
}

.socials-avatar {
    height: 80px;
    width: 80px;
}

.socials-image {
    height: 156px !important;
    object-fit: cover;
}

.socials-text {
    height: 85px;
}

.socials-card-columns {
    margin: 3rem !important;
}

@media (max-width: 768px) {
    .socials-card-columns {
        margin: 0.5rem !important;
    }
}

.socials-card-column {
    margin-top: 0 !important;
}

@media (max-width: 768px) {
    .socials-card-column {
        margin-top: 3rem !important;
    }
}

.socials-card-content {
    padding: 1rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .socials-card-content {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 0rem;
        padding-left: 0rem;
    }
}
