.spinner-backdrop {
    z-index: 1201;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-tap-highlight-color: transparent;
}
