.render-menu-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.render-menu-list-item-pipe {
    display: flex;
    width: 2px;
    margin-left: 2px;
    margin-right: 2px;
    cursor: default;
    background-color: #616161;
}

@media (min-width: 1100px) {
    .render-menu-list-item-pipe {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 1100px) {
    .render-menu-list-item-pipe {
        margin-top: 12px;
        margin-bottom: 12px;
    }
}
