.header-content-box {
    margin-top: auto;
    padding: 60px 60px 120px 60px;
    background-color: white;
}

@media (min-width: 768px) {
    .header-content-box {
        max-width: 700px;
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .header-content-box {
        padding: 1rem;
    }
}

@media (min-width: 1024px) {
    .header-content-box {
        max-width: 900px;
        margin-left: -33%;
        padding: 3rem;
    }
}

@media (min-width: 1408px) {
    .header-content-box {
        max-width: 800px;
        margin-left: -25%;
    }
}

.header-figure {
    max-height: 800px;
}

.header-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
