.header-content-box {
    margin-top: auto;
    margin-right: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 80px;
    background-color: white;
    max-width: 600px;
    margin-left: -33%;
}

@media (max-width: 1700px) {
    .header-content-box {
        max-width: 600px;
        margin-left: -33%;
    }
}

@media (max-width: 960px) {
    .header-content-box {
        max-width: 900px;
        padding: 15px;
        margin-left: 0;
        margin-right: 0;
    }
}

.header-image-skeleton {
    height: 700px !important;
    width: 700px !important;
}

.header-image-box {
    position: relative;
    height: 400px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-image-card {
    width: 100%;
    object-fit: cover;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-width: 600px) {
    .header-image-card {
        height: 700px;
    }
}

@media (min-width: 1400px) {
    .header-image-card {
        height: 800px;
    }
}

@media (min-width: 1900px) {
    .header-image-card {
        height: 1000px;
    }
}

.header-button-box {
    display: flex;
    justify-content: left;
}

.header-button-primary {
    margin-right: 15px;
}

.header-button-secondary {
    margin-right: 15px;
}

.header-button-tertiary {
    margin-right: 15px;
}

@media (max-width: 600px) {
    .header-button-primary {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .header-button-secondary {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .header-button-tertiary {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .header-button-box {
        display: block;
    }
}
