.header-section-container {
    display: flex;
    flex-direction: column;
}

.header-content-box {
    margin-top: auto;
    margin-right: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 80px;
    background-color: white;
    max-width: 600px;
    margin-left: -33%;
}

@media (max-width: 1700px) {
    .header-content-box {
        max-width: 600px;
        margin-left: -33%;
    }
}

@media (max-width: 960px) {
    .header-content-box {
        max-width: 900px;
        padding: 15px;
        margin-left: 0;
        margin-right: 0;
    }
}

.header-content-caption {
    color: #616161;
    font-size: 3.4rem !important;
    font-weight: 700 !important;
    line-height: 1.5;
}

.header-content-subtitle {
    color: #616161;
    line-height: 1.5;
}

.header-content-description {
    color: #616161;
    font-size: 1.125rem !important;
    font-weight: 400;
    line-height: 1.5;
}

.header-image-skeleton {
    height: 550px !important;
    width: 550px !important;
}

.header-image-box {
    position: relative;
    height: 400px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-image-card {
    width: 100%;
    object-fit: cover;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-width: 600px) {
    .header-image-card {
        height: 700px;
    }
}

@media (min-width: 1400px) {
    .header-image-card {
        height: 800px;
    }
}

@media (min-width: 1900px) {
    .header-image-card {
        height: 1000px;
    }
}

.header-button-box {
    display: flex;
    justify-content: left;
}

.header-button-primary {
    margin-right: 15px !important;
    color: white !important;
    background: #6367ef !important;
}

.header-button-primary:hover {
    color: white !important;
    background: #4649c3 !important;
}

.header-button-secondary {
    margin-right: 15px !important;
    color: #4649c3 !important;
    background: #ebecfb !important;
}

.header-button-secondary:hover {
    color: #ebecfb !important;
    background: #6367ef !important;
}

.header-button-tertiary {
    margin-right: 15px !important;
    color: #4649c3 !important;
    background: #ebecfb !important;
}

.header-button-tertiary:hover {
    color: #ebecfb !important;
    background: #6367ef !important;
}

@media (max-width: 600px) {
    .header-button-primary {
        width: 100%;
        margin-right: 0 !important;
        margin-bottom: 15px !important;
    }

    .header-button-secondary {
        width: 100%;
        margin-right: 0 !important;
        margin-bottom: 15px !important;
    }

    .header-button-tertiary {
        width: 100%;
        margin-right: 0 !important;
        margin-bottom: 15px !important;
    }

    .header-button-box {
        display: block;
    }
}
