.render-navbar-list-item {
    min-height: 24px;
    padding-top: 2px;
}

.render-navbar-list-item-text {
    padding: 0;
    color: black;
    background-color: transparent;
}

.render-navbar-list-item-text:hover {
    color: #4649c3;
}

.render-navbar-list-item-text-selected {
    color: #4649c3;
}
