.article-card-image {
    width: 180px !important;
    height: auto;
    min-height: 180px;
    object-fit: cover;
}

.article-card-image-desktop {
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}

.article-card-image-mobile {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

.article-card-action-small {
    height: 50px;
}

.article-card-action-large {
    height: 100px;
}
