.article-box-card {
    flex-direction: row;
}

@media (max-width: 768px) {
    .article-box-card {
        flex-direction: column;
    }
}

.article-box-content {
    position: relative;
    width: 100%;
    padding: 16px;
}

.article-box-content-text {
    height: 120px;
}

.article-box-image {
    height: 200px !important;
    min-height: 180px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .article-box-image {
        border-top-left-radius: 0.75rem;
        border-top-right-radius: 0.75rem;
    }
}

@media (min-width: 768px) {
    .article-box-image {
        border-top-left-radius: 0.75rem;
        border-bottom-left-radius: 0.75rem;
        width: auto !important;
    }
}
