name: Build and run tests (dev)

on:
  pull_request:
    branches: [ dev, pre-release/beta ]

jobs:

  frontend-develop:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Install dependencies
      run: |
        cd $PWD/TokanPages.ClientApp
        npm install --global yarn
        yarn global add sonarqube-scanner
        yarn install

    - name: Test client application
      run: |
        cd $PWD/TokanPages.ClientApp
        yarn app-test --ci --coverage
        yarn sonar \
        -Dsonar.login=${{ secrets.SONARQUBE_TOKEN_FE }} \
        -Dsonar.projectName=${{ secrets.SONARQUBE_PROJECT_NAME_FE }} \
        -Dsonar.projectKey=${{ secrets.SONARQUBE_PROJECT_KEY_FE }} \
        -Dsonar.host.url=${{ secrets.SONARQUBE_HOST }}

  backend-develop:

    runs-on: ubuntu-latest

    env:
      TARGET_DIRECTORY: $PWD/sonarqubecoverage
      COVERAGE_REPORT: $PWD/*/*/TestResults/*/coverage.cobertura.xml
      SONAR_REPORT: SonarQube.xml

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Log to Azure Cloud
      uses: Azure/login@v2.1.0
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Get Azure Key Vault secrets
      uses: TomaszKandula/get-keyvault-secrets@v1.0.3
      with:
        keyvault: ${{ secrets.AZURE_KEY_VAULT }}
        secrets: ${{ secrets.AZURE_KEY_VAULT_LIST_TEST }}
      id: vault

    - name: Variable substitution appsettings file for Testing (.NET)
      uses: TomaszKandula/variable-substitution@v1.0.2
      with:
        files: ${{ github.workspace }}/TokanPages.Configuration/appsettings.Testing.json
      env:
        AppSettings.Email_PrivateKey: "${{ steps.vault.outputs.TestEmailPrivateKey }}"
        AppSettings.Email_HealthUrl: "${{ steps.vault.outputs.TestEmailHealthUrl }}"
        AppSettings.Email_BaseUrl: "${{ steps.vault.outputs.TestEmailBaseUrl }}"
        AppSettings.Email_Address_Admin: "${{ steps.vault.outputs.TestEmailAddressesAdmin }}"
        AppSettings.Email_Address_Contact: "${{ steps.vault.outputs.TestEmailAddressesContact }}"
        AppSettings.Email_Address_Support: "${{ steps.vault.outputs.TestEmailAddressesItSupport }}"
        AppSettings.Db_DatabaseContext: "${{ steps.vault.outputs.TestDbConnect }}"
        AppSettings.Db_DatabaseContext_Migrator: "${{ steps.vault.outputs.TestDbMigrator }}"
        AppSettings.AZ_Bus_ConnectionString: "${{ steps.vault.outputs.TestAzBusConnectionString }}"
        AppSettings.AZ_Storage_BaseUrl: "${{ steps.vault.outputs.TestAzStorageBaseUrl }}"
        AppSettings.AZ_Storage_ContainerName: "${{ steps.vault.outputs.TestAzStorageContainerName }}"
        AppSettings.AZ_Storage_ConnectionString: "${{ steps.vault.outputs.TestAzStorageConnectionString }}"
        AppSettings.AZ_Storage_MaxFileSizeUserMedia: "${{ steps.vault.outputs.TestAzStorageMaxFileSizeUserMedia }}"
        AppSettings.AZ_Storage_MaxFileSizeSingleAsset: "${{ steps.vault.outputs.TestAzStorageMaxFileSizeSingleAsset }}"
        AppSettings.AZ_Redis_InstanceName: "${{ steps.vault.outputs.TestAzRedisInstanceName }}"
        AppSettings.AZ_Redis_ConnectionString: "${{ steps.vault.outputs.TestAzRedisConnectionString }}"
        AppSettings.AZ_Redis_ExpirationMinute: "${{ steps.vault.outputs.TestAzRedisExpirationMinute }}"
        AppSettings.AZ_Redis_ExpirationSecond: "${{ steps.vault.outputs.TestAzRedisExpirationSecond }}"
        AppSettings.Paths_NewsletterUpdate: "${{ steps.vault.outputs.TestPathsUpdateSubscriber }}"
        AppSettings.Paths_NewsletterRemove: "${{ steps.vault.outputs.TestPathsUnsubscribe }}"
        AppSettings.Paths_UpdatePassword: "${{ steps.vault.outputs.TestPathsUpdatePassword }}"
        AppSettings.Paths_Activation: "${{ steps.vault.outputs.TestPathsActivation }}"
        AppSettings.Paths_DevelopmentOrigin: "${{ steps.vault.outputs.TestPathsDevelopmentOrigin }}"
        AppSettings.Paths_DeploymentOrigin: "${{ steps.vault.outputs.TestPathsDeploymentOrigin }}"
        AppSettings.Paths_Templates_Newsletter: "${{ steps.vault.outputs.TestPathsNewsletter }}"
        AppSettings.Paths_Templates_ContactForm: "${{ steps.vault.outputs.TestPathsContactForm }}"
        AppSettings.Paths_Templates_ResetPassword: "${{ steps.vault.outputs.TestPathsResetPassword }}"
        AppSettings.Paths_Templates_RegisterForm: "${{ steps.vault.outputs.TestPathsRegisterForm }}"
        AppSettings.Ids_Issuer: "${{ steps.vault.outputs.TestIdsIssuer }}"
        AppSettings.Ids_Audience: "${{ steps.vault.outputs.TestIdsAudience }}"
        AppSettings.Ids_WebSecret: "${{ steps.vault.outputs.TestIdsWebSecret }}"
        AppSettings.Ids_RequireHttps: "${{ steps.vault.outputs.TestIdsRequireHttps }}"
        AppSettings.Ids_WebToken_Maturity: "${{ steps.vault.outputs.TestIdsWebTokenMaturity }}"
        AppSettings.Ids_RefreshToken_Maturity: "${{ steps.vault.outputs.TestIdsRefreshTokenMaturity }}"
        AppSettings.Limit_Reset_Maturity: "${{ steps.vault.outputs.TestLimitsResetMaturity }}"
        AppSettings.Limit_Activation_Maturity: "${{ steps.vault.outputs.TestLimitsActivationMaturity }}"
        AppSettings.Limit_Likes_Anonymous: "${{ steps.vault.outputs.TestLimitsLikesAnonymous }}"
        AppSettings.Limit_Likes_User: "${{ steps.vault.outputs.TestLimitsLikesUser }}"

    - name: Setup dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Install dependencies
      run: dotnet restore TokanPages.slnx

    - name: SonarQube begin scan dotnet
      run: |
        dotnet tool install --global dotnet-sonarscanner --version 5.15.0
        dotnet tool update dotnet-reportgenerator-globaltool -g --version 5.3.11
        dotnet sonarscanner begin \
        /k:${{ secrets.SONARQUBE_PROJECT_KEY_BE }} \
        /n:${{ secrets.SONARQUBE_PROJECT_NAME_BE }} \
        /d:sonar.login=${{ secrets.SONARQUBE_TOKEN_BE }} \
        /d:sonar.host.url=${{ secrets.SONARQUBE_HOST }} \
        /d:sonar.coverageReportPaths="${{ env.TARGET_DIRECTORY }}/${{ env.SONAR_REPORT }}"

    - name: Build .NET
      run: dotnet build TokanPages.slnx

    - name: Test with the dotnet CLI
      run: |
        cd TokanPages.Tests/TokanPages.Tests.UnitTests
        ASPNETCORE_ENVIRONMENT=Testing dotnet test --no-build --collect:"XPlat Code Coverage"
        cd ../..
        mkdir "${{ env.TARGET_DIRECTORY }}"
        reportgenerator "-reports:${{ env.COVERAGE_REPORT }}" "-targetdir:${{ env.TARGET_DIRECTORY }}" "-reporttypes:SonarQube"
      env:
        ASPNETCORE_ENVIRONMENT: Testing

    - name: SonarQube end scan dotnet
      run: dotnet sonarscanner end /d:sonar.login=${{ secrets.SONARQUBE_TOKEN_BE }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
