.preview-container {
    cursor: zoom-in;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 29%, 0.5);
    z-index: 2;
}

.preview-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: hsl(0, 0%, 86%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.preview-top-radius {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.preview-bottom-radius {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
